"<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >"
<suite name="Suite">
 
    <test name="Practice Grouping">
 
        <groups>
 
	    <run>
 
		<include name="Car" />
 
	    </run>
 
	</groups>
 
	<classes>
 
	    <class name="SeleniumImportant.Grouping" />
 
	</classes>
 
    </test>
 
</suite>